<template>
    <native-base-provider >        
      <scroll-view :content-container-style="{contentContainer: {
        paddingVertical: 20
        }}">
        <!-- Content goes here -->
        

        <box maxWidth="100%" alignItems="center" bg="#babaf4">  
          
          <heading size="3xl" >Matrices</heading>
          <box>
            <text>Filas</text>
            <input type="number" v-model="filas"/>
            <text>Columnas</text>
            <input type="number"  v-model="columnas"/>
            <button :on-press="generarmatriz">Generar</button>
          </box>
          <vStack mt="3" px="5" space="2.5"> 
            <box v-for="fila in matrizA">
              <stack direction="row">
                <box v-for="columna in fila" flexDirection="row">                     
                  <input class="estilox" type="text" w="50px" h="50px" bg="#f4fa10" v-model="columna.valor"/>
                </box>                       
              </stack mt="3">                
            </box>     
          </vStack>
                    
        </box>   
      </scroll-view> 
    </native-base-provider>
</template>



<style>
.container {
  background-color: white;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-size:80px;
  text-align:right;
  color:black;
  display:flex;
}
.text-color-primary {
  color: blue;
}
.estilox {
  color:black;
  font-size:70px;
  display:flex;
  background-color: #F4DA12;

}
</style>


<script>
import axios from "axios"
import React from "react"
import { Container, HStack,VStack, Heading, Center, NativeBaseProvider, FormControl, Input, Stack, WarningOutlineIcon, Box, Button } from 'native-base'

    export default {        
        data: function() {
            return {
              datos:null,
              valroa:"",
              valrob:"",
              filas:"0",
              columnas:"0",
              matrizA:[],
            };
        },        
        components:{Container,  Heading, Center, NativeBaseProvider,
                    FormControl, Input, Stack, WarningOutlineIcon, Box,Button,
                    HStack,VStack
        },
        methods:{
          calcular(){            
            var suma=eval(this.valroa+"+"+this.valrob);            
          },
          generarmatriz(){      
            this.matrizA=[];
            var auxiliar=[];
            var cont=1;
            for (var i=0;i<this.filas;i++) {              
              for (var j=0;j<this.columnas;j++) {
                auxiliar.push({id: cont,valor: '0'});
                cont++;
              }              
              this.matrizA.push(auxiliar);
              auxiliar=[]
            }

          },
             
        },
        mounted () {
          axios.get('https://api.coindesk.com/v1/bpi/currentprice.json')
          .then(response => (this.datos = response.data.bpi))
        }
    }

</script>